<table class="outer" cellspacing="1">
  <tr>
    <th align="center"><{$block.lang_story_title}></th>
    <th align="center"><{$block.lang_story_topic}></th>
    <th align="center"><{$block.lang_story_date}></th>
    <th align="center"><{$block.lang_story_author}></th>
    <th align="center"><{$block.lang_story_action}></th>
  </tr>

  <{foreach item=noticias from=$block.stories}>
  <tr class="<{cycle values="even,odd"}>">
    <td align="center"><{$noticias.title}></td>
    <td align="center"><{$noticias.topic_title}></td>
    <td align="center"><{$noticias.date}></td>
    <td align="center"><{$noticias.author}></td>
    <td align="right"><{$noticias.action}></td>
  </tr>
  <{/foreach}>
</table>
